//黑夜模式
html.dark {
    --base-background: hsl(0, 0%, 8%);
    --logo-title-color: hsl(0, 0%, 93%);
    --logo-background: hsl(150, 16%, 21%);
    /* sidebar */
    --sidebar-background: hsl(150, 32%, 26%);
    --sidebar-background-hover: hsl(150, 29%, 24%);
    --sidebar-menu-background: hsl(150, 33%, 18%);
    --sidebar-menu-background-hover: hsl(150, 80%, 10%);
    --sidebar-background-active: hsl(100, 54%, 49%, 0.06);
    --sidebar-text: hsl(150, 25%, 80%);
    --sidebar-text-active: hsl(100, 54%, 48%);
    /* navbar */
    --navbar-background: hsl(144, 7%, 13%);
    --navbar-icon-color: hsl(0, 0%, 80%);
    --navbar-icon-background-hover: hsla(0, 0%, 100%, 0.08);
    /* tagsView */
    --tagsView-background: hsla(144, 7%, 13%, 0.7);
    --tag--background: hsl(102, 21%, 12%);
    --tag--background-active: hsl(100, 54%, 44%);
    /* element */
    --el-color-primary: hsl(100, 54%, 48%);
    --el-color-primary-light-3: hsl(100, 50%, 37%);
    --el-color-primary-light-5: hsl(100, 47%, 29%);
    --el-color-primary-light-7: hsl(100, 40%, 20%);
    --el-color-primary-light-8: hsl(100, 33%, 16%);
    --el-color-primary-light-9: hsl(100, 21%, 12%);
    --el-color-primary-dark-2: hsl(100, 53%, 59%);
}