//白天模式
html.light {
    --base-background: rgb(244, 244, 244);
    --logo-title-color: rgb(238, 238, 238);
    --logo-background: hsl(150, 16%, 21%);
    /* sidebar */
    --sidebar-background: hsl(150, 32%, 26%);
    --sidebar-background-hover: hsl(150, 29%, 24%);
    --sidebar-menu-background: hsl(150, 33%, 18%);
    --sidebar-menu-background-hover: hsl(150, 80%, 10%);
    --sidebar-text: hsl(150, 25%, 80%);
    --sidebar-text-active: var(--el-color-primary);
    /* navbar */
    --navbar-background: rgb(255, 255, 255);
    --navbar-icon-color: rgb(90, 102, 94);
    /* element */
    --el-color-primary: #67c23a;
    --el-color-primary-light-3: #95d475;
    --el-color-primary-light-5: #b3e19d;
    --el-color-primary-light-7: #d1edc4;
    --el-color-primary-light-8: #e1f3d8;
    --el-color-primary-light-9: #f0f9eb;
    --el-color-primary-dark-2: #529b2e;
}